---
title: Audi/VW Brake Service in Albany/Berkeley CA | Auto Plus
description: "Call Auto Plus today - your local Auto repair, Volkswagen and Audi experts, for brake service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980"
keywords: "Auto brake repair,Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service, Berkeley, Albany, El Cerrito, Richmond"
slide: 1
slideDescription: Auto brake service in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Brakes</h1>
                <p>After only one year, the brake fluid in average Volkswagen or Audi may contain as much as two percent water, after few years of service it is not unusual to find seven or eight percent water in brake fluid.</p>
                <p>Only one percent water in brake fluid can lower the boiling point from 500 degrees Fahrenheit down to 380 °F</p>
                <p>Water contamination increases the danger of brakes failure because vapor pockets can form if the brake fluid gets too hot. Vapor displaces brake fluid and is compressible, so when brakes are applied the pedal may go down all the way to the floor without applying the brakes. The same kind of sudden brake failure due to brake fluid boiling can occur in any driving situation that puts undue stress on the brakes, a sudden panic stop followed by another, mountain driving, etc.</p>
                <p>Volkswagen and Audi recommend changing brake fluid every 24 months. By changing the brake fluid in your Audi and VW as recommended, you can greatly reduce the risks associated with moisture-contaminated brake fluid. You can extend the life of your brake system and likely save yourself a lot of money in brake repairs, especially if your car equipped with ABS system.</p>

                <p><strong>Call Auto Plus today - your local Auto repair, Volkswagen and Audi experts, for brake service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980.</strong></p>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/brakes.png" title="Brakes" alt="Auto Plus Brakes"/>
        </aside>
    </div>
</main>