---
title: Audi/VW Diagnostics/Diagnosis in Albany/Berkeley CA | Auto Plus
description: "Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for diagnostic service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980"
keywords: "Audi,Volkswagen,auto repair,service,diagnostic,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change in Berkeley,Albany,El Cerrito,Richmond,Bay Area"
slide: 3
slideDescription: Auto diagnosis service in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Diagnostic</h1>
                <p>Audis and Volkswagens have advanced and sophisticated electronics and computerized systems that require special diagnostic tools and equipment. Auto Plus in Albany/Berkeley is a state-of-the-art facility to accurately diagnose, maintain, and repair your Audi or VW.</p>

                <p>Auto Plus also performs pre-purchase diagnostics, so if you
                are planning to purchase a pre-owned Audi or VW,
                we can diagnose it and provide you with a complete list of items
                that need to be repaired or replaced and an estimate of the
                cost, so you can negotiate with the seller for the
                most approptiate price.</p>

                <p>Proper Audi and Volkswagen diagnosis requires professional training, tools, equpment, and expertise. Auto Plus excels at correctly diagnosing and repairing any issues your Audi or VW might have, bringing it back to the road quickly, properly, safely, and affordably.<p>

                <p><strong>Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for diagnostic service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980.</strong></p>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/diagnostic.png" title="Diagnostic" alt="Auto Plus Diagnostic"/>
        </aside>
    </div>
</main>