---
title: Auto/Car/Vehicle Repair Loan/Financing in Albany/Berkeley CA | Auto Plus
description: Auto Plus makes it easy to pay using AutoPass financing through Credit First National Association.
keywords: "Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change,Berkeley,Albany,El Cerrito,Richmond,Bay Area"
slide: 5
slideDescription: Auto repair experts in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Financing</h1>
                <p>Auto Plus makes it easy to pay using <a href="https://www.cfna.com/web/personalservices/autopasstireservicecenters" target="_blank"><strong>AutoPass</strong></a> financing through <a href="https://www.cfna.com/web/personalservices/autopasstireservicecenters" target="_blank"><strong>Credit First National Association</strong></a>.</p>

                <p><strong>NO INTEREST IF PAID IN FULL WITHIN 6 MONTHS*</strong></p>

                <p>$299 Minimum purchase required. Interest will be charged to your 

                account from the purchase date if the purchase balance is not paid 

                in full within 6 months or if you make a late payment.</p>

                <p><strong>*MINIMUM MONTHLY PAYMENTS REQUIRED.</strong> Applicable to purchases made January 1 

                through December 31, 2016. APR: 22.8%. Minimum Finance Charge: $1.00. CFNA reserves 

                the right to change APR, fees and other terms unilaterally.</p>
        </div>
        <aside class="main-content-img left-align">
        </aside>
    </div>
</main>