---
title: Audi/VW Auto/Car Mechanic/Service/Repair in Berkeley/Albany CA | Auto Plus
description: "Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for service, maintenance, and repairs serving Berkeley, Albany, El Cerrito and the East Bay Area since 1980"
keywords: "Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change,Berkeley,Albany,El Cerrito,Richmond,Bay Area"
slide: 0
slideDescription: Auto repair experts in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{> gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Home</h1>
            <p>Auto Plus in Berkeley / Albany CA is a state-of-the-art independent automotive repair shop for Audi, Volkswagen, and other German vehicles. We specialize in everything from routine scheduled service and maintenance to the most sophisticated repairs. From tune-ups to transmissions and timing belts ... from electrical systems to exhaust systems to radiators and air conditioning ... from brakes, shocks, and struts to engines, suspensions, and smog tests ... Auto Plus mechanics do it all for you with care and expertise.</p> 

            <p>For owners of Audi, VW, and other German cars in Berkeley, Albany, Kensington, El Cerrito, Piedmont, Oakland, San Francisco, the East Bay Area, and the entire Northern California Bay Area, Auto Plus is conveniently located just minutes from downtown Berkeley, Interstate 80, and BART.</p>

            <p><strong>Call Auto Plus today - your local Auto repair, Audi, Volkswagen, and German vehicle experts for service, maintenance, and repairs serving Berkeley, Albany, El Cerrito and the East Bay Area since 1980.</strong></p>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/w_audi_logo.png" title="VW and Audi logo" alt="Audi Logo & VW Logo for Auto Plus"/>
        </aside>
    </div>
</main>