---
title: Audi/VW Repair in Albany/Berkeley CA | Auto Plus
description: "Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980"
keywords: "Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change,Berkeley,Albany,El Cerrito,Richmond,Auto Repair Albany, CA"
slide: 11
slideDescription: Auto repair experts in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Repair</h1>
            <p>Here at Auto Plus in Albany / Berkeley CA we repair and replace all aspects
            of your Audi or Volkswagen, including engines, transmissions, suspensions,
            shock absorbers & struts, timing belts, exhaust systems, power steering, brakes, air conditioning,
            electrical systems, turbochargers, and much more.</p>

            <p>We also perform all factory-recommended service and <a href="https://www.audiusa.com/help/maintenance" target="_blank">maintenance</a> on your 
            Audi or VW,
            including complete engine tune-ups, <a href="https://en.wikipedia.org/wiki/Timing_belt_(camshaft)" target="_blank">timing belts</a>,
            and other systems and components. We use only the highest-quality parts,
            and our rates are very reasonable.</p>

            <p>If your Audi or VW needs any type of repair, bring it to us at Auto Plus and we'll have it running like new!</p>

            <p><strong>Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980.</strong></p>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/repair.png" title="Repair" alt="Auto Plus Repair"/>
        </aside>
    </div>
</main>