---
title: Audi/VW Service/Maintenance in Albany/Berkeley CA | Auto Plus
description: "Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980"
keywords: "Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change,Berkeley,Albany,El Cerrito,Richmond,Bay Area, Auto service Albany, CA"
slide: 13
slideDescription: Auto service experts in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Service</h1>
            <p>Keep your Audi or Volkswagen at peak performance with our Auto Plus maintenance service. Regularly maintaining your Audi or VW is the best way to protect your precious investment, while ensuring that it runs its best, uses less fuel, emits fewer air pollutants, and retains its maximum value.</p>

            <p>Auto Plus in Albany / Berkeley follows the manufacturer's maintenance schedules for all major and minor components and systems including the engine, transmission, brakes, suspension, shocks, struts, timing belt, exhaust system, and air conditioning to keep your Audi or Volkswagen performing safely and reliably.</p>

            <p><strong>Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for service, maintenance, and repairs serving Albany, Berkeley, El Cerrito and the East Bay Area since 1980.</strong></p>
            <div class="main-subcontent clearfix">
                <h2 class="subtitle">Major service</h2>
                <div class="main-subcontent-wrap left-align">
                    <div class="main-subcontent-text">
                        <h3>1. Diagnose/Test</h3>
                        <p>
                        <strong>Data Link Connector</strong>
                        On board diagnosis, check fault memory.
                        <strong>Vehicle</strong>
                        Road Test: Check braking, kick down,
                        steering, electrical, heating and
                        ventilation systems, air conditioning,
                        (ASL) Automatic Shift Lock and
                        Power accessories.
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>2. Inspect</h3>
                        <p>
                        <strong>Automatic Transmission/Transaxle</strong>
                        Check for leaks.
                        <strong>Battery</strong>
                        <strong>Brakes and Traction Control</strong>
                        Check for leaks, check pad thickness,
                        check pressure regulator.
                        <strong>Constant Velocity Joint Boot</strong>
                        <strong>Differentital Assembly</strong>
                        Check for leaks.
                        <strong>Exhaust System</strong>
                        <strong>Fluids (Add if needed)</strong>
                        Check for leaks.
                        <strong>Manual Transmission/Transaxle</strong>
                        Check for leaks.
                        <strong>Power Steering Fluid</strong>
                        <strong>Steering and Suspension</strong>
                        Check dust seals on ball joints
                        and tie rod ends.Check tie rods.
                        <strong>Tires</strong>
                        Check for wear and damage.
                        Check tire pressure.
                        <strong>Windshiled Washer Reservoir</strong>
                        <strong>Drive Belt</strong>
                        </p>
                    </div>
                </div>
                <div class="main-subcontent-wrap right-align">
                    <div class="main-subcontent-text">
                        <h3>3. Adjust</h3>
                        <p>
                        <strong>Idle Speed</strong>
                        Except Turbo, not required for California warranty.
                        <strong>Adjust hand break</strong>
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>4. Lubricate</h3>
                        <p>
                        <strong>Hinge, Door</strong>
                        <strong>Sunrood Track</strong>
                        <strong>Special Lubricant</strong>
                        <strong>Convertible Top</strong>
                        Roff Frame, guides, Rock, Cabriolet only
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>5. Replace</h3>
                        <p>
                        <strong>Air Filter Element</strong>
                        <strong>Cabin Air Filter</strong>
                        <strong>Fluid - A/T</strong>
                        <strong>Oil</strong>
                        <strong>Oil Filter, Engine</strong>
                        <strong>Spark Plug</strong>
                        <strong>Coolant</strong>
                        <strong>Break Fluid</strong>
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>6. Reset</h3>
                        <p>
                        <strong>Service Reminder Indicators</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="main-subcontent clearfix">
                <h2 class="subtitle">Intermediate service</h2>
                <div class="main-subcontent-wrap left-align">
                    <div class="main-subcontent-text">
                        <h3>1. Diagnose/Test</h3>
                        <p>
                        <strong>(E) Computers and Control Systems</strong>
                        Check/Clear codes.
                        <strong>Vehicle</strong>
                        Road Test
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>2. Inspect</h3>
                        <p>
                        <strong>Accessories and Optional Equipment</strong>
                        <strong>Battery</strong>
                        <strong>Constant Velocity Joint Boot</strong>
                        <strong>Coolant</strong>
                        <strong>Brakes and Traction Control</strong>
                        <strong>(S) Differentital Assembly</strong>
                        (w/automatic transmission) As equipped.
                        <strong>(E) Exhaust System</strong>
                        <strong>Constant Velocity Joint Boot</strong>
                        <strong>Differentital Assembly Fluid- A/T</strong>
                        Check for leaks.
                        <strong>Exhaust System</strong>
                        <strong>Fluids (Add if needed)</strong>
                        Not required for V8 Quattro, 1994 S4
                        <strong>Manual Transmission/Transaxle</strong>
                        Check for leaks.
                        <strong>Manual Transmission/Transaxle</strong>
                        <strong>Power Steering</strong>
                        Special Lubricant- Fluid Part No.
                        G002000. Some
                        models may have a central hydraulic
                        system. If so, check reservoir level and
                        refill with SLF
                        <strong>Shift Interlock, A/T</strong>
                        Check operation including Park/
                        Neutral safety switch.
                        <strong>Windshiled Washer Reservoir</strong>
                        Check function and fluid level
                        </p>
                    </div>
                </div>
                <div class="main-subcontent-wrap right-align">
                    <div class="main-subcontent-text">
                        <h3>3. Check</h3>
                        <p>
                        Brakes and Traction Control
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>4. Adjust</h3>
                        <p>
                        <strong>(E) Idle Speed</strong>
                        Except Turbo, not required for California warranty.
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>5. Lubricate</h3>
                        <p>
                        <strong>Convertible Top</strong>
                        Roff Frame, guides, Rock, Cabriolet only.
                        <strong>Sunrood Track</strong>
                        Special Lubricant-Spray Silicon Spray
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>6. Replace</h3>
                        <p>
                        <strong>(E) Oil</strong>
                        <strong>(E) Oil Filter, Engine</strong>
                        <strong>Break Fluid (reservoir)</strong>
                        <strong>Air Filter Element</strong>
                        <strong>Cabin Filter</strong>
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>7. Rotate</h3>
                        <p>
                        <strong>Wheels</strong>
                        Check tire pressure, including spare.
                        (S) = Service Warranty Requirement<br>
                        (E) = Enmission Warranty Requirement
                        </p>
                    </div>
                </div>
            </div>
            <div class="main-subcontent clearfix">
                <h2 class="subtitle">Minor service</h2>
                <div class="main-subcontent-wrap left-align">
                    <div class="main-subcontent-text">
                        <h3>1. Inspect</h3>
                        <p>
                        <strong>Brake Fluid</strong>
                        <strong>Coolant</strong>
                        <strong>Shift Interlock, A/T</strong>
                        Check operating including Park/Neutral safety switch.
                        <strong>Wiper and Washer Systems</strong>
                        Check function and fluid level.
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>2. Replace</h3>
                        <p>
                        <strong>(E) Oil</strong>
                        <strong>(E) Oil Filter, Engine</strong>
                        </p>
                    </div>
                </div>
                <div class="main-subcontent-wrap right-align">
                    <div class="main-subcontent-text">
                        <h3>3. Rotate</h3>
                        <p>
                        <strong>Wheels</strong>
                        </p>
                    </div>
                    <div class="main-subcontent-text">
                        <h3>4. Reset</h3>
                        <p>
                        <strong>Service Reminder Indicators</strong>
                        (S) = Service Warranty Requirement<br>
                        (E) = Enmission Warranty Requirement<br>
                        (B) = Both Service and Emission Warranty Requirement
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/service.png" title="Service" alt="Auto Plus Service"/>
        </aside>
    </div>
</main>