---
title: Audi/VW Suspension Repair in Albany/Berkeley CA | Auto Plus
description: "Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for suspension service, maintenance, and repairs serving Albany, Berkeley, El Cerrito, San Francisco and the East Bay Area"
keywords: "Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change,Berkeley,Albany,El Cerrito,Richmond,Bay Area"
slide: 16
slideDescription: Auto suspension service in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Suspension</h1>
                <p>The condition of your Audi or VW suspension affects ride quality,
                comfort and safety, handling amd braking, interior and exterior noise,
                and has a direct effect on your vehicle's other components and systems,
                including its brakes and tires.</p>

                <p>Your Audi or Volkswagen suspension is responsible for quietly and effectively bearing the weight of your Audi or VW and its passengers,
                while absorbing and deflecting the punishment of bumpy and uneven roads, potholes,
                and all of the other demands placed upon it during the course of normal driving.</p>

                <p>You might not notice how well your Audi or VW suspension is working unless it requires attention
                by making a bit of noise to let you know that it would like you to bring it to our expert mechanics at Auto Plus.</p>

                <p><strong>Call Auto Plus today - your local Auto repair, Audi and Volkswagen experts for suspension service, maintenance, and repairs serving Albany, Berkeley, El Cerrito, San Francisco and the East Bay Area since 1980.</strong></p>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/suspension.png" title="Suspension" alt="Auto Plus Suspension"/>
        </aside>
    </div>
</main>