---
title: Audi/VW Timing Belt Replacement in Albany/Berkeley CA | Auto Plus
description: Auto Plus follows the manufacturer's maintenance schedules for all major and minor components and systems to keep your Audi or VW performing safely and reliably
keywords: "Audi,Volkswagen,auto repair,service,maintenance,engines,transmissions,brakes,shocks,struts,suspension,timing belts,exhaust systems,air conditioning,service,oil change,Berkeley,Albany,El Cerrito,Richmond,Bay Area"
slide: 2
slideDescription: Timing belt replacement in Albany, Berkeley, El Cerrito
---
<main class="wrapper wrapper-background">
    {{>gallery}}
    <div class="main-content clearfix">
        <div class="main-content-text left-align">
            <h1 class="title">Timing Belt Replacement</h1>
                <p>
                    Timing belts must be replaced at the manufacturer's distance or time periods. Failure to replace the timing belt on your Audi, VW or other cars can result in complete breakdown of your engine.
                </p>
                <p>
                    A timing belt or timing chain is apart of an internal combustion engine that synchronizes the rotation of a crankshaft and the camshaft so the engine valves open and close at the proper times during each cylinder stroke.
                </p>
                <p>
                    In an interference engine the timing belt or timing chain prevents the piston from striking the valves. Most modern cars including Audi and VW uses timing belt or timing chain to synchronize crankshaft and camshaft rotation. Timing chains were common on older cars and they are more durable then timing belts, however,  timing belts are lighter, less expensive, and operates more quietly. The engine manufacturers including Audi and VW recommends the timing belt replacement at specific intervals and also the replacement of other parts, such as the tensioner, roller bearings and water pump when the timing belt is replaced.
                </p>
                <p>
                    A snapped timing belt can cause major engine damage, especially if it breaks at highway speeds.
                </p>
        </div>
        <aside class="main-content-img left-align">
            <img src="img/service.png" title="Service" alt="Auto Plus Service"/>
        </aside>
    </div>
</main>