<footer class="main-footer wrapper">
        <div class="main-footer-inner">{{>social}}
            <div class="contact-info">
                <ul class="contact-info-list">
                    <li class="contact-info-item">700 San Pablo Avenue, Albany, CA</li>
                    <li class="contact-info-item">
                        <span class="desktop-only">510-527-0100</span>
                        <a class="contact-phone mobile-only" href="tel:5105270100"><i class="fa fa-phone" aria-hidden="true"></i>510-527-0100</a></li>
                    <li class="contact-info-item contact-info-item-last">Hours: Monday - Friday 8:30 am to 6:00 pm, Saturday by Appointment</li>
                </ul>
            </div>
        </div>
</footer>