<header class="main-header wrapper clearfix menu menuopen">
    <div class="logo left-align">
        <a class="logo-link" href="/"><img src="img/logo.png" width="165" height="166"title="Logo for Auto Plus" alt="Logo for Auto Plus - Your Local Expert Mechanincs for Audi and VW service, maintenance, repair, oil change, brakes, suspension, and diagnostics in Albany/Berkeley CA"/></a>
    </div>
    <div class="contact-info right-align">
        <ul class="contact-info-list" itemscope="" itemtype="http://schema.org/LocalBusiness">
            <li class="contact-info-item hidden" itemprop="name">Auto Plus</li>
            <li class="contact-info-item hidden" itemprop="url">www.autoplusberkeley.com</li>
            <li class="contact-info-item hidden" itemprop="email">gardizigallery@netscape.net</li>
            <li class="contact-info-item hidden" itemprop="geo"></li>
            <li class="contact-info-item" itemprop="address">
                <span itemprop="streetAddress">700 San Pablo Ave</span>, 
                <span itemprop="addressLocality">Albany</span>, 
                <span itemprop="addressRegion">CA</span>
                <span itemprop="postalCode" class="hidden">94706</span>
            </li>
            <li class="contact-info-item">
                <span itemprop="telephone" class="desktop-only">510-527-0100</span>
                <a class="contact-phone mobile-only" href="tel:5105270100"><i class="fa fa-phone" aria-hidden="true"></i>510-527-0100</a>
           </li>
            <li class="contact-info-item contact-info-item-last" itemprop="openingHours" datetime="Mon-Fr 08:30-18:00">Hours: Monday - Friday 8:30 am to 6:00 pm, Saturday by Appointment</li>
        </ul>
    </div>
    <div class="menutitle hidden">
        &nbsp;
    </div>
    {{> navigation }}
</header>