<div class="social">
    <a class="icon icon-map" href="https://www.google.com/maps/place/Auto+Plus+Berkeley"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
    <a class="icon icon-yelp" href="http://www.yelp.com/biz/auto-plus-albany"><i class="fa fa-yelp" aria-hidden="true"></i></a>
    <a class="icon icon-twitter" href="https://twitter.com/AutoPlusAlbany"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a class="icon icon-plus" href="https://plus.google.com/108837041207551010448"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a class="icon icon-fb" href="https://www.facebook.com/Auto-Plus--307796066320036"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a class="icon icon-foursquare" href="https://foursquare.com/v/auto-plus/51d70a2cccda6525aa4e3a8d"><i class="fa fa-foursquare" aria-hidden="true"></i></a>
    <a class="icon icon-coupons" href="special.html"></a>
</div>